@import '../../App.scss';

.threeRandomWrapper {
    @include sectionPadding;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    
    .eventsWrapper {
        figure {
            img {
                @include coloredBigBorder;
                width: 90%;
                height: 40vh
            }
            
            figcaption {
                @include coloredThinBorder;
                max-height: 35vh;
                min-height: 35vh;
                padding: 1rem 2rem 0 3rem;
                margin-top: -2%;
                text-align: end;
                line-height: 1.5;
                h2{
                    min-height: 15vh;
                    max-height: 15vh;
                    font-size: 2.7vw;
                }
                h3 {
                    padding-bottom: 3%;
                }

                h6 {
                    padding-bottom: 2%;
                }

                hr {
                    opacity: 0.3;
                }

                .btnWrapper {
                    padding-bottom: 5%;

                    .readMore {
                        @include dackBlueBtn;
                        margin-right: 2%;
                        padding: 5%
                    }
                    
                    .buyTicket {
                        @include orangeBtn;
                        padding: 5%
                    }
                }
            }
        }
    }
}


//BREAKPOINTS
$x-large: 1300px;
$large: 1300px;
$tablet: 980px;
$mobile: 580px;

@media screen and (min-width: $x-large) {
    body{
        .threeRandomWrapper {            
            .eventsWrapper {
                figure {                    
                    figcaption {
                        max-height: 37vh;
                        min-height: 37vh;
                        margin-right: 3%;
                        padding: 1rem 1rem 1rem 2rem;
                        h3 {
                            padding-top: 2%;
                        }
                    }
                }
            }
        }
    }
  }
// @media screen and (max-width: $large) {
//     body{
//     }
//   }
@media screen and (max-width: $tablet) {
  body{
    .threeRandomWrapper {
        .eventsWrapper {
            figure {
                img {
                    width: 89%;
                    height: 30vh;
                }
                
                figcaption {
                    max-height: 25vh;
                    min-height: 25vh;
                    padding: 1rem 1rem 0 1rem;
                    h2{
                        min-height: 10vh;
                        max-height: 10vh;
                    }
                }
            }
        }
    }    
  }
}
@media screen and (max-width: $mobile){
    body{  
        .threeRandomWrapper {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            padding-bottom: 15%;
            padding-left: 15%;
            padding-right: 15%; 
            .eventsWrapper {
                width: 100%;           
                figure {
                    img {
                        width: 100%;
                        height: 20vh
                    }
                    figcaption {
                        @include coloredThinBorder;
                        max-height: 17vh;
                        min-height: 17vh;
                        padding: 1rem 1rem 1rem 1rem;
                        width: 100%;
                        h2{
                            min-height: 4vh;
                            max-height: 4vh;
                            font-size: 2.7vw;
                        }
                        .btnWrapper {        
                            .readMore {
                                padding: 3%
                            }
                            
                            .buyTicket {
                                padding: 3%
                            }
                        }
                    }
                }
            }
        }
    }
}



