@import '../../App.scss';
.heroWrapper{
    @include sectionPadding;
    figure{
        display: grid;
        grid-template-columns: 30% 70%;
        max-height: 50vh;
        img{
            @include coloredBigBorder;
            width: 96%;
                height: 37vh;
            }
        figcaption{
            width: 80%;
            @include coloredThinBorder;
            text-align: end;
            padding: 10%;
            padding-top: 50%;
            hr{
                opacity: 0.3;
                margin-left: 2rem;
            }
        }
    }
}
//BREAKPOINTS
$x-large: 1300px;
$large: 1300px;
$tablet: 980px;
$mobile: 580px;

@media screen and (min-width: $x-large) {
    body{
      .heroWrapper{
        figure{
                img{
                    height: 44vh;
                }
        }
    }
    }
  }
// @media screen and (max-width: $large) {
//     body{
//     }
//   }
@media screen and (max-width: $tablet) {
  body{
    .heroWrapper{
      figure{
          img{
                  height: 30vh;
              }
          figcaption{
              padding-top: 55%;
          }
      }
  }   
  }
}
@media screen and (max-width: $mobile){
    body{
    .heroWrapper{
      figure{
        display: grid;
        grid-template-columns: 35% 65%;
        padding-right: 5%;
          img{
                height: 15vh;
              }
          figcaption{
              padding-top: 35%;
          }
      }
  } 
    }
}