@import '../../App.scss';
.heroWrapper{
    @include sectionPadding;
    figure{
        display: grid;
        grid-template-columns: 30% 70%;
        // gap: 1rem;
            img{
                @include coloredBigBorder;
                width: 96%;
                height: 40vh
            }
        figcaption{
            width: 80%;
            @include coloredThinBorder;
            text-align: end;
            padding: 10%;
            padding-top: 50%;
            hr{
                opacity: 0.3;
                margin-left: 4rem;
            }
        }
    }
}