@import '../../App.scss';
.heroWrapper{
    @include sectionPadding;
    figure{
        display: grid;
        grid-template-columns: 30% 70%;
        max-height: 50vh;
        img{
            @include coloredBigBorder;
            width: 96%;
                height: 37vh;
            }
        figcaption{
            width: 80%;
            @include coloredThinBorder;
            text-align: end;
            padding: 10%;
            padding-top: 50%;
            hr{
                opacity: 0.3;
                margin-left: 2rem;
            }
        }
    }
}
//COLOR MODS
$bg-red: #c66;
$bg-yellow: #fc6;
$bg-green: #9c9;
$bg-blue: #699;
//BREAKPOINTS
$x-large: 1300px;
$large: 1300px;
$tablet: 980px;
$mobile: 580px;

@media screen and (min-width: $x-large) {
    body{
      background-color: $bg-blue;
      .heroWrapper{
        figure{
                img{
                    height: 44vh;
                }
        }
    }
    }
  }
@media screen and (max-width: $large) {
    body{
      background-color: $bg-red;
    }
  }
@media screen and (max-width: $tablet) {
  body{
    background-color: $bg-yellow;     
  }
}
@media screen and (max-width: $mobile){
    body{
    background-color: $bg-green;  
    }
}