@import '../../App.scss';
.buyTicketWrapper{
    @include coloredThinBorder;
    .eventWrapper{
        // background-color: wheat;
        display: grid;
        // grid-template-columns: 1fr 2fr;
        grid-template-columns: 50% 50%;
        // height: 50vh;
        .eventImageWrapper{
            @include coloredBigBorder;
            img{
                width: 100%;
            }
        }
        .eventInfoWrapper{
            // background-color: whitesmoke;
            width: 100%;
            text-align: right;
            figcaption{
                padding: 3% 5%;
            }
        }
    }
}