@import '../../App.scss';

form {

    .userFormWrapper {
        margin-right: 1%;
        margin-top: -15%;
        width: 45%;
        padding-bottom: 2%;

        .formElement {
            display: grid;
            grid-template-columns: 35% 65%;

            label {
                margin-left: 1%;
                min-width: 7rem;
                max-width: 7rem;
            }

            .inputWrapper {
                margin-left: 1%;
                width: 100%;
                padding-bottom: 1%;

                input[type='text'],
                input[type="number"] {
                    width: 100%;
                    padding: 2%;
                }
            }

            #zipcodeWrapper {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }

        p {
            color: red;
            text-align: right;
        }
    }

    .seatWrapper {
        .headWrapper {
            @include coloredBigBorder;
            margin-bottom: 5%;

            h4 {
                color: white;
                text-align: center;
            }
        }

        article {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            padding-left: 15%;
            padding-right: 15%;

            .checked {
                border-radius: 50%;
                width: 38px;
                height: 38px;
                background-color: #AD7A51;
            }

            div {
                padding: 3%;

                .seat {
                    border-radius: 34px;
                    // background-color: #ccc;
                    width: 38px;
                    height: 38px;
                    border-radius: 50%;
                    cursor: pointer;
                    border: 1px solid #AD7A51;
                    input {
                        opacity: 0;
                    }
                    // input[type="checkbox"] {
                    //     // appearance: none;
                    // }
                }
                // input:checked {
                //     background-color: red;
                // }
                // .seat::after{
                //     background-color: red;

                // }

                // .seat:checked {
                //     background-color: red;
                // }

                // .seat::before {
                //     background-color: red;
                // }


            }
        }
    }

    .seatText {
        text-align: center;
        color: black;
        padding: 2%;
    }

    .submitBtn {
        text-align: end;

        button {
            @include orangeBtn;
            padding: 2%;
        }
    }
}