@import '../../App.scss';
form{

    .userFormWrapper{
        .formElement{
            display: grid;
            grid-template-columns: 30% 70%;
            // background-color: thistle;
            label{
                margin-left: 1%;
                min-width: 8rem;
                max-width: 8rem;
                // background-color: wheat;

            }
            .inputWrapper{
                margin-left: 1%;
                // background-color: tan;
                width: 100%;
                padding-bottom: 1%;
                input[type='text'], input[type="number"]{
                    width: 100%;
                }
                
            }
            #zipcodeWrapper{
                display: grid;
                grid-template-columns: 1fr 1fr;
                p{
                    // text-align: left
                }
                
            }
        }
        p{
            color: red;
            text-align: right;
        }
    }
    .seatWrapper{
        .headWrapper{
            @include coloredBigBorder;
            h4{
                color: white;
                text-align: center;
            }
        }
        article{
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            padding-left: 15%;
            padding-right: 15%;
            .toggleBtn{
                border: none;
                background-color: transparent;
                cursor: pointer;
            }
        }
    }
    .submitBtn{
        button{

            @include orangeBtn;
        }
    }
}