@import '../../../App.scss';
.actorDetailsWrapper{
    article{
        @include coloredThinBorder;
        h1{
            padding: 2%;
        }
        figure{
            display: grid;
            grid-template-columns: 1fr 2fr;
            padding: 2%;

            gap: 3%;
            figcaption{
                p{
                    color: #D39D5B;
                }
            }
        }
    }
    div{
        text-align: end;
        padding: 2% 0% 2% 0%;
        button{
            @include orangeBtn;
            padding: 2%;
        }
    }
}

//BREAKPOINTS
$x-large: 1300px;
$large: 1300px;
$tablet: 980px;
$mobile: 580px;

// @media screen and (min-width: $x-large) {
//     body{
//     }
//   }
// @media screen and (max-width: $large) {
//     body{
//     }
//   }
@media screen and (max-width: $tablet) {
  body{ 
    .actorDetailsWrapper{
        article{
            figure{
                padding: 2% 4% 2% 2%;
                figcaption{
                    h3{
                        font-size: 2.5vw;
                    }
                    p{
                        font-size: 1.7vw;
                    }
                }
            }
        }
    }   
  }
}
@media screen and (max-width: $mobile){
    body{  
        .actorDetailsWrapper{
            article{
                padding-bottom: 7%;
                figure{
                    display: grid;
                    grid-template-columns: 1fr ;
                    figcaption{
                        p{
                            font-size: 2.5vw;
                        }
                    }
                }
            }
        }
    }
}